
<div class="event-container">
  <li class = "card" *ngFor="let event of events">
    <div class="event-img">
      <img src="{{event.photoURL}}">
    </div>
    <div class="event-detail">
      <div class="event-info">
        <h3>{{event.name}}</h3>
        <mat-divider></mat-divider>
        <span><mat-icon>location_on</mat-icon>{{event.place}}</span>
        <br>
        <span><mat-icon>calendar_today</mat-icon>{{event.date | date}}</span>
        <br>
        <span>{{event.description}}</span>
      </div>
    </div>
    <div class="buttons">
      <button class="notify btn">Add to Notification</button>
      <button class="favourite btn"><mat-icon>favorite</mat-icon></button>
    </div>
  </li>
</div>
